NEXT_PUBLIC_SERVER_URL=https://api.sellspace.co.zw
NEXT_PUBLIC_MAX_UPLOAD_SIZE=5242880
NEXT_PUBLIC_GOOGLE_CLIENT_ID=google-client-id-placeholder
NEXT_PUBLIC_VAPID_PUBLIC_KEY=BNcExamplePublicKeyPlaceholder
NODE_ENV=production